<div class="challenges-summary">
  <%= image_tag("waste.jpeg", class: 'challenges-header-img') %>
  <div class="image-overlay"></div>
  <div class="challenges-desc">
    <h1>WASTE</h1>
    <p>Collectively, the United States produces around 254 million tons of waste annually – that could cover Texas, TWICE!
       While our trash is taken out, those discarded coffee cups, packages, and food waste never really goes ‘away,’
       it’s only take out of sight and out of mind, encouraging us to continue consuming single-use items.</p>
  </div>
</div>

<div class="all-challenges">
  <div class="challenges-header">CHALLENGES</div>
  <div class="accordion" id="challenge-accordion">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            AUDIT YOUR WASTE
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("bags.jpg", size: '100x100') %>
            </div>
            <div class="card-body-text col-md-10">
              <div>
                Since landfills are hidden from view, it’s easy to overlook just how much waste we produce and how it negatively impacts our shared planet.
                 Carry a bag everywhere you go and collect everything that you would otherwise throw away. Don’t hide it!
                 Carry your bag of waste proudly and invite conversations with classmates and community members.
              </div>

              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="https://www.youtube.com/watch?v=5qx2WFpNTPs">Takeout creates a lot of trash. It doesn't have to</a>
                  </li>
                </ul>
              </div>

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <button class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            FIND BULK AND BUY IN BULK
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("buybulk.jpg", size: '100x100') %>
            </div>
            <div class="col-md-10">
              <div>Buy to protein bars, fruits snacks, and granola! Do it yourself by first visiting a local store that has bulk bins.</div>
              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href=" http://trashisfortossers.com/how-to-tare-jar-and-shop-waste-free/">Learn how to tare</a>
                  </li>
                  <li>
                    <a class="learn-more-text" href="https://app.zerowastehome.com/">Find your local bulk bins</a>
                  </li>
                </ul>
              </div>

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
            BRING YOUR OWN CUP
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("mug.JPG", size: '100x100') %>
            </div>
            <div class="col-md-10">
              <div>
                Many to-go cups have a waterproof inner lining that is made of plastic, which makes them non-recyclable.
                In the US, so many coffee cups are used that 44,110 cups are disposed of every 24 seconds.
                So next time you get a drink, bring your own reusable thermos, cup or mug!
                If you bring your own to Starbucks, you will even get a 50 cent discount.
              </div>
              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="https://player.vimeo.com/video/103381081?title=0&byline=0&portrait=0&autoplay=1&color=ffffff">Stats</a>
                  </li>
                </ul>
              </div>

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            SAY NO TO PLASTIC CLING WRAP
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div class="col-md-2">
              <%= image_tag("saran.jpeg", size: '100x100') %>
            </div>

            <div class="col-md-10">
              <div>
                Plastic wrap is often used once and then tossed. It may be thin and can conform to smaller sizes,
                but it's still plastic. Resources went into making it, and it does not biodegrade, so it just sits in landfills,
                intrudes upon natural environments, or fills our oceans. We challenge you to go plastic-free for food
                packaging this week. Store all of your food with reusable containers and cloth/linen napkins.
                In the fridge. For lunch. On the go.
              </div>

              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="http://trashisfortossers.com/how-to-store-your-leafy-greens-to-help/">How to store food in a cloth/linen napkin</a>
                  </li>
                  <li>
                    <a class="learn-more-text" href="http://trashisfortossers.com/take-out-zero-waste-style/">How to store takeout</a>
                  </li>
                  <li>
                    <a class="learn-more-text" href="http://trashisfortossers.com/storing-leftovers-waste-free/">How to store leftovers</a>
                  </li>
                </ul>
              </div>


              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            REFUSE THE DRINK LID
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("styrofoam.jpg", size: '100x100') %>
            </div>
            <div class="col-md-10">
              <div>
                Polystyrene and expanded polystyrene foam — better known as Styrofoam — is one of the most harmful
                forms of waste on the planet. It is rarely recyclable, and, like all plastic, it takes hundreds
                of years to decompose. It is literally everywhere; in our coffee cups, take-out containers, straws,
                cutlery, and more. For this challenge we’re asking you to join the #foamfree campaign that is working
                to ban polystyrene across the nation!
              </div>

              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="https://www.5gyres.org/polystyrene">https://www.5gyres.org/polystyrene</a>
                  </li>
                </ul>
              </div>

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
