<div class="challenges-summary">
  <%= image_tag("waste.jpeg", class: 'challenges-header-img') %>
  <div class="image-overlay"></div>
  <div class="challenges-desc">
    <h1>WELLNESS</h1>
    <p>
      To take care of the planet, you must take care of yourself. Making wellness a part of your lifestyle helps
      to guarantee that you have the energy and stamina to be an effective and enduring changemaker.
    </p>
  </div>
</div>

<div class="all-challenges">
  <div class="challenges-header">CHALLENGES</div>
  <div class="accordion" id="challenge-accordion">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            EXERCISE
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("placeholder.png", size: '100x100') %>
            </div>
            <div class="card-body-text col-md-10">
              <div>
                You can't take care of the environment without first taking care of yourself! Exercise has many
                physiological and mental benefits, which include reducing your risk of chronic disease and dementia,
                increasing productivity, and boosting your mood. That's why it's extremely important to schedule
                time to move your body, even if you have a lot on your plate! Work out for at least 20 min every
                day for this week - it can be anything, from yoga to running to lifting weights to simply
                walking after a meal.
              </div>

              <!-- <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="#"></a>
                  </li>
                </ul>
              </div> -->

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <button class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            GET ENOUGH SLEEP
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("placeholder.png", size: '100x100') %>
            </div>
            <div class="col-md-10">
              <div>
                You can't take care of the environment without first taking care of yourself! Sleep is one of the
                easiest ways to do that - it helps you retain information and perform better, strengthen your
                immune system, and maintain a healthy metabolism. Get a full 6-8 hours of sleep (however much
                your body needs) every night.
              </div>

              <!-- <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div> -->

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
            TAKE CARE OF YOUR BODY DURING YOUR PERIOD
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div src="" class="col-md-2">
              <%= image_tag("mug.JPG", size: '100x100') %>
            </div>
            <div class="col-md-10">
              <div>
                This isn't just for the ladies! Find out what your (or your female friends') pads and tampons are
                made of. Most sanitary pads are made of 90% plastic material! Use sanitary pads made of
                organic cotton or try out the menstrual cup (if you haven't already).
              </div>
              <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="http://www.natracare.com/">Resource</a>
                  </li>
                </ul>
              </div>

              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="accordion-toggle btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            SPEND TIME OUTDOORS
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#challenge-accordion">
        <div class="card-body container">
          <div class="row">
            <div class="col-md-2">
              <%= image_tag("placeholder.png", size: '100x100') %>
            </div>

            <div class="col-md-10">
              <div>
                My Footprint focuses a lot on what we can do for the planet, but our planet also does
                so much for us! Take some time to get outside and experience all that mother nature has to offer.
                By doing this, we can better appreciate the interconnectedness between us and our incredible planet.
              </div>

              <!-- <div class="learn-more">
                <p class="learn-more-header">Learn more</p>
                <ul>
                  <li>
                    <a class="learn-more-text" href="#"></a>
                  </li>
                </ul>
              </div> -->


              <div class="challenge-duration">
                <p class="learn-more-header">How long do you want to take the challenge for?</p>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="inputInterval">
                        <option>Choose interval</option>
                        <option>day(s)</option>
                        <option>week(s)</option>
                        <option>month(s)</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="get-started-btn">
                GET STARTED ON THIS CHALLENGE!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
